body {
    background-image: url(http://vignette4.wikia.nocookie.net/biomesoplenty/images/1/15/Dense_Forest.png/revision/latest?cb=20150629054049);
    color: rgb(250, 200, 250);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}